<html>

    <!-- boilerplate -->
    {% include 'main.j2' %}

    <p></p>
    
    <!-- form to edit the data-->
    <div id="edit">

        
        <form id="editOrder" action="/edit_order/{{order[0].orderID}}" method="post">
            <legend><strong>Editing Order</strong></legend>
            <fieldset>

                <!-- hidden id for sql query-->
                <input type="hidden" value="{{order[0].orderID}}" class="form-control" id="orderID" name="orderID" required>

                <!-- date edit field-->
                <label for="datePurchased">Date Purchased:</label>
                <input type="date" value="{{order[0].datePurchased}}" class="form-control" id="datePurchased" name="datePurchased" placeholder="" required>

                <!-- customerID select dropdown-->
                <label for="customerID">Customer:</label>
                <select class="form-control" id="customerID" name="customerID" pattern="{1}" placeholder="" required> 
                    <option value="0">&nbsp;</option>
                    {% for customer in customers %}

                        {% if  customer['customerID']  == order[0].customerID %}
                            <option value="{{ customer['customerID'] }}" selected> {{customer['customerID']}}</option>
                        {% else %}
                            <option value="{{ customer['customerID'] }}"> {{customer['customerID']}}</option> 
                        {% endif %}
                        

                    {% endfor %} 
                </select>	 

                <!-- productID select dropdown-->
                <label for="productID">product:</label>
                <select class="form-control" id="productID" name="productID" pattern="{1}" placeholder="" required>                             
                    <option value="0">&nbsp;</option>
                    {% for product in products %}

                        {% if  product['productID']  == orderproducts[0].productID %}
                            <option value="{{ product['productID'] }}" selected> {{product['productID']}}</option>
                        {% else %}
                            <option value="{{ product['productID'] }}"> {{product['productID']}}</option> 
                        {% endif %}

                    {% endfor %} 
                </select>	 

                <!-- quantity edit field-->
                <label for="quantity">quantity Purchased:</label>
                <input type="number" value="{{orderproducts[0].quantity}}" class="form-control" id="quantity" name="quantity" placeholder="" required>
            
                    
            </fieldset>

            <input type="submit" value="Edit order" name="edit_order" class="btn btn-primary" style="margin:.5rem;">
            <a href='/orders'><input class="btn" type="button" value="cancel"></a>
        </form>
    </div>

</html>