<html>
    <!-- boilerplate -->
    {% include 'main.j2' %}

    <p></p>
        
    <!-- form to edit the data-->
    <div id="edit">
            
        <form id="editVineyard" action="/edit_vineyard/{{vineyard[0].vineyardID}}" method="post">
            <legend><strong>Edit Product</strong></legend>
            <fieldset>

                <!-- hidden id for sql query-->
                <input type="hidden" value="{{vineyard[0].vineyardID}}" class="form-control" id="vineyardID" name="vineyardID" required>
                
                <!-- title edit field-->
                <label for="title">Vineyard Title:</label>
                <input type="text" value="{{vineyard[0].title}}" class="form-control" id="title" name="title" placeholder="{{vineyard[0].title}}" required>
                <p></p>

                <!-- description edit field-->
                <label for="description">Description:</label>
                <input type="text" value="{{vineyard[0].description}}" class="form-control" size= 255 id="description" name="description"  placeholder="{{vineyard[0].description}}">
                <p></p>

                <!-- casesYearly edit field-->
                <label for="casesYearly">Cases Yearly:</label>
                <input type="number" value="{{vineyard[0].casesYearly}}" class="form-control" id="casesYearly" name="casesYearly" placeholder="{{vineyard[0].casesYearly}}" >
                <p></p>

                <!-- yearFounded edit field-->
                <label for="yearFounded">Year Founded:</label>
                <input type="number" value="{{vineyard[0].yearFounded}}" class="form-control" id="yearFounded" name="yearFounded" placeholder="{{vineyard[0].yearFounded}}" >
                <p></p>

                <!-- website edit field-->
                <label for="website">website:</label>
                <input type="url" value="{{vineyard[0].website}}" class="form-control" id="website" size= 55 name="website" placeholder="{{vineyard[0].website}}" >
                
            </fieldset>
        
            <input type="submit" value="Edit vineyard" name="edit_vineyard" class="btn btn-primary" style="margin:.5rem;">
            <a href='/vineyards'><input class="btn" type="button" value="cancel"></a>
        </form>
    </div>

</html>