<html>

    

    <h1>WineSeller</h1>
    <h2>E-Commerce Wine Distributor</h2>

    <p></p>

    <strong><a href="/customers">Customers</a> | <a href=/products>Products</a> | <a href=/orders>Orders</a> | <a href="/vineyards">Producers </a> </strong>
    
    <hr>

</html>