<html>
<head>
    <title>WineSeller</title>
</head>
<h1>WineSeller</h1>
    <h3>E-Commerce Wine Distributor</h3>
    <p></p>

    [ <a href="/customers">Customers</a> |<a href=/products>Products</a> | <a href=/orders>Orders</a> | <a href="/vineyards">Vineyards</a>]
    <hr>