<html>

{% include 'main.j2' %}
<head>
    <title>Products</title>
    <h3>Products</h3>
</head>

<body onload="browseProducts()">
    <div id = "product_table">
        <table border="2" cellpadding="3">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Vineyard ID</th>
                <th></th>
                <th></th>
            </tr>
    <tbody>
    {% for item in products %}
    <tr>
        <td>{{item['productID']}}</td>
        <td>{{item['title']}}</td>
        <td>{{item['description']}}</td>
        <td>{{item['retailPrice']}}</td>
        <td>{{item['vineyardID']}}</td>
        <td><a href="edit_product/{{item['productID']}}" class="btn btn-default">Edit</a></td>
        <td><a href="delete_product/{{item['productID']}}" class="btn btn-default">Delete</a></td>
    </tr>
    {% endfor %}
    </table>

<p></p>
<hr>
<p></p>

<div id="insert">
		<!-- form to INSERT new data into bsg_people-->
		<form id="ProductForm" action="/products" method="POST">
			<legend><strong>Add Product</strong></legend>
			<fieldset>
                <!-- placeholder shows ghost text, required forces an input, pattern forces input adherence -->
				<label for="title">Product Title:</label>
				<input type="text" class="form-control" id="title" name="title" placeholder="" required>

				<label for="description">Description:</label>
				<input type="text" class="form-control" id="description" name="description"  placeholder="">

				<label for="retailPrice">Price:</label>
				<input type="number" class="form-control" id="retailPrice" name="retailPrice" step="0.01" min="0"  placeholder="1.23" required>
				
                <label for="vineyardID">Vineyard:</label>
                <select class="form-control" id="vineyardID" name="vineyardID" pattern="{1}" placeholder="" required> 
                        <!-- Access our homeworld tuple passed from app.py-->
                        <option value="0">&nbsp;</option>
                        {% for vineyard in vineyards %}
                                
                                
                            <option value="{{ vineyard['vineyardID'] }}"> {{vineyard['title']}}</option> 
    


                        <!-- End of this for loop -->
                        {% endfor %} 
            </fieldset>

            <!-- Create 'Add Person' and 'Cancel' buttons -->
			<input type="submit" value="Add Product" name="Add_Product" class="btn btn-primary" form="ProductForm" style="margin:.5rem;">
			<input class="btn" type="button" value="Cancel" onClick="browseProducts()"> 
        </form>
	</div><!--insert-->

    