<html>

    <!-- boilerplate-->
    {% include 'main.j2' %}

    <head>
        <title>Vineyards</title>
        <h3>Vineyards</h3>
    </head>

    <!-- display Vineyards table-->
    <body onload="browseVineyards()">
        <div id = "vineyard_table">
            <table border="2" cellpadding="3">
                <tr>
                    <th>ID</th>
                    <th>title</th>
                    <th>Description</th>
                    <th>cases Yearly</th>
                    <th>Year Founded</th>
                    <th>website</th>
                    <th></th>
                    <th></th>
                </tr>
                <tbody>
                    {% for item in vineyards %}
                        <tr>
                            <td>{{item['vineyardID']}}</td>
                            <td>{{item['title']}}</td>
                            <td>{{item['description']}}</td>
                            <td>{{item['casesYearly']}}</td>
                            <td>{{item['yearFounded']}}</td>
                            <td>{{item['website']}}</td>
                            <td><a href="edit_vineyard/{{item['vineyardID']}}" class="btn btn-default">Edit</a></td>
                            <td><a href="delete_vineyard/{{item['vineyardID']}}" class="btn btn-default">Delete</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <p></p>
        <hr>
        <p></p>


        <!-- display vineyard insert form-->
        <div id="insert">
                
            <form id="vineyardForm" action="/vineyards" method="POST">
                <legend><strong>Add Vineyard</strong></legend>

                <fieldset>
                    <!-- title input -->
                    <label for="title">Vineyard Title:</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="" required>

                    <!-- description input -->
                    <label for="description">Description:</label>
                    <input type="text" class="form-control" id="description" name="description"  placeholder="">

                    <!-- casesYearly input -->
                    <label for="casesYearly">Cases Yearly:</label>
                    <input type="number" class="form-control" id="casesYearly" name="casesYearly" placeholder="" >

                    <!-- yearFounded input -->
                    <label for="yearFounded">Year Founded:</label>
                    <input type="number" class="form-control" id="yearFounded" name="yearFounded" placeholder="" >

                    <!-- website input -->
                    <label for="website">website:</label>
                    <input type="url" class="form-control" id="website" name="website" placeholder="http://" >
                    
                </fieldset>

                <input type="submit" value="Add Vineyard" name="Add_vineyard" class="btn btn-primary" form="vineyardForm" style="margin:.5rem;">
                <input class="btn" type="button" value="Cancel" onClick="browseVineyards()"> 

            </form>
        </div>

    </body>
</html>
        